body {
    height: 100%;
    margin: 0;
}

#box {
    display: flex;
    flex-flow: column;
    height: 90vh;
    padding: 0;
}


#box .row {
    flex: 0 1 auto; /* shrinks */
    
}

#box .body {
    flex: 1 1 auto; /* grows */
    
}

.title {
    font-size: 10vw; 
    text-align: center; 
    padding: 5vw;
    letter-spacing: 3px;
}

.subheader {
    font-size: 5vw;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

#underline {
    height: 0%;
    border: solid whitesmoke 7px;
    margin: 10px;
    padding: 4px;
    border-radius: 1000px;
}

#body {
    margin: 10px;
    border-radius: 50px;
    border: 8px solid darkslategray;
}

#body {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 80%;
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
    background-color: color(--pico-background-color);
    background-size: cover;
    background-position: center;
    opacity: 1;
}

.fade-in {
    opacity: 0.5 !important;
}
#body:hover {
    height: 150%;
}

.white {
    background-color: black !important;
}

.question {
    background-color: rgb(36, 40, 49);
    border: 4px solid rgb(85, 94, 114);
    border-radius: 50px;
    height: 90%;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.flour {
    background-image: url("./flour_trans.png");
    text-align: center;
    font-size: 7vw;
    color: whitesmoke;
}

.question:hover {
    background-color: rgb(85, 94, 114);
    border: 4px solid rgb(36, 40, 49);
}

.question-label {
    font-size: 5vw;
    text-align: center;
    vertical-align: center;
}

.question-range > * {
    width: 20%;
}

.range-row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 50px;
    background-color: rgb(36, 40, 49);
    height: 90%;
}

.range-row:hover {
    background-color: rgb(85, 94, 114);
    border: 2px solid rgb(36, 40, 49);
}

.range-num {
    font-size: 10vw;
    text-align: center;
}

.range-label {
    font-size: 5vw;
    text-align: center;
}

.balls {
    border: 0px solid black;
    border-radius: 1000px;
    background-color: #04b68b;
    width: 80%;
    padding-bottom: 80%;
}

.centered-text {
    text-align: center;
    font-size: 6vw;
}

.start-button {
    border-radius: 500px;
    font-size: 10vw;
}